.accountConfirmNotification {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    flex-direction: row !important;
    justify-content: flex-start;

    i {
        color: #dc3545;
    }

    >span {
        padding: 0 0 0 8px;

        >span:first-of-type {
            padding: 0 8px 0 0;
        }
    }

    a {
        font-weight: 600;
        color: #dc3545;
        text-decoration: none;
    }
}