
.orderViewStatus {
    background: #F3B4AF;
    color: #A90000;
    border-color: #F3B4AF;
    width: fit-content;
    border-radius: 20px;
    border: 1px solid;
    padding: 2px 10px 1px 10px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
}