@import '../../../../style/variable';
@import '../../../../style/responsive';

.headerListItem {
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 0;
    display: flex;

    .headerIdItem {
        flex-basis: 17%;
        font-weight: 600;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div {
        font-weight: 600;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headerNameItem {
        justify-content: flex-start;
        flex-basis: 71%;
    }

    .headerQty {
        flex-basis: 13%;
    }

    .HeaderTotalTitle {
        flex-basis: 23%;
    }
}

.listContent {
    >.listItem:first-of-type {
        border-top: none;
    }

    .listItem {
        display: flex;
        padding: 1.6em 0;
        border-top: 1px solid #ced4da;

        .itemId {
            display: flex;
            flex-basis: 8%;
            justify-content: center;
            align-items: center;
        }

        .itemImgContainer {
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 16%;

            .productImage {
                width: auto;
                max-height: 119px;
                object-fit: contain;
                max-width: 100%;
                border: 0;
                vertical-align: top;
            }
        }

        .groupProductInfo {
            flex-basis: 68%;
            display: flex;

            .infoProduct {
                flex-basis: 100%;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {
                    width: 100%;
                    margin: 0;
                    font-weight: normal;
                    line-height: 18px;
                    display: inline-block;
                    font-size: 18px;
                }             

                .priceOriginal {
                    padding: 0px;

                    .cartPrice {
                        display: flex;
                        align-items: flex-end;

                        .price {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 1;
                        }

                        .priceOld {
                            margin-left: 8px;

                            .price {
                                font-size: 13px;
                                line-height: 1;
                                color: #7A7E7F !important;
                                text-decoration: line-through;
                                font-weight: normal !important;
                            }
                        }
                    }
                }
            }

            .numberProductCart {
                flex-basis: 40%;
                justify-content: center;
                align-items: center;
                margin: auto;
                display: flex;

                .cartPriceTotal {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    flex: 3;

                    .cartPrice {
                        .price {
                            color: $secondary-color;
                            font-weight: bold;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

