.categoryList {
    list-style: none;
    padding: 5px 16px;

    .categoryListItem {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    .subCategoryList {
        list-style: none;
        padding: 5px 10px;

        .subCategoryListItem {
            text-decoration: none;
            color: black;
        }
    }
}