.alertConfirmEmailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF5F5;
    width: 100%;
    height: 50px;
    border-top: 1px solid #FF7070;
    border-bottom: 1px solid #FF7070;

    img {
        vertical-align: middle;
        border: 0;
    }

    .alertMsg {
        margin-left: 16px;
    }

    .resendConfirmationContainer {
        margin-left: 8px;

        .resendConfirmationBtn {
            background: 0 0;
            border: none;
            text-decoration: underline;
            font-weight: 600;
            color: black;
        }
    }
}