@import '../../../style/variable';

.sectionHeader {
    position: relative;
    padding-top: 25px;
}

.sectionHeader::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $primary-color;
}

.sectionHeader::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: $secondary-color;
}

.sectionHeader.textStart::before,
.sectionHeader.textStart::after {
    left: 0;
    transform: translateX(0);
}
