@import "../../../../style/variable";

.ProductImgSlider {
    display: flex;
    flex-direction: column;
    align-items: center;

    .thumbnailSplideItem {
        width: 100%;
        height: 100%;
        border: 1px solid $dark-color;
        cursor: pointer;
        opacity: 0.6;
    }

    .thumbnailActive {
        border: 3px solid $secondary-color;
        opacity: 1;
    }

    .mainImgActive {
        width: 100%;
    }
}