@import '../../../../style/variable';

.productItem {
	background-color: $light-color;
	border-radius: 8px;
    height: 100%;

	img {
		transition: .5s;
	}

	&:hover {
		img {
			transform: scale(1.1);
		}
	}

	small {
		a {
			&:hover {
				color: $primary-color !important;
			}
		}
	}

	.ratingContainer {
		min-height: 15px;

		.ratings {
			display: flex;
			align-items: center;
			font-size: 11px;

			.ratingBox {
				background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_star_gray.svg);
				background-size: 16px 16px;
				margin: 0px 0px 0px 10px;
				position: relative;
				width: 80px;
				height: 16px;
				font-size: 0;
				line-height: 0;
				overflow: hidden;

				.rating {
					background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_star_yellow.svg);
					background-size: 16px 16px;
					height: 16px;
					left: 0;
					position: absolute;
					top: 0;
					float: left;
				}
			}

			.amount {
				color: #F6A500 !important;
				font-size: 14px;
				font-weight: 500;
				display: inline-block;
			}
		}
	}
}