
.discountPercent {
    margin-left: 8px;
    padding: 4px;
    border-radius: 4px;
    background-color: #C92127;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.qtyContainer {
    width: 130px !important;
}