@import '../../../../style/variable';
@import '../../../../style/responsive';

.totalCartRight {
    .blockTotalCart {
      background: white;
      border-radius: 8px;

      .blockTotalCartPage {

        .totalCartPage {
          display: flex;
          font-size: 13px;
          padding: 10px 16px;

          .titleCartPageLeft {
            flex-basis: 65%;

          }

          .titleFinalTotal {
            font-weight: 600;
            font-size: 20px;
          }

          .finalPrice {
            .price {
              color: $secondary-color;
              font-size: 20px !important;
              font-weight: 600;
            }
          }

          .numberCartPageRight {
            flex-basis: 35%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .price {
              font-size: 13px;
            }
          }
        }


        .checkoutBtnContainer {
          text-align: center;
          padding-left: 16px;
          padding-right: 16px;

          .btnProceed {
            width: 100%;
            margin: 0px 0px 10px 0px;
            border: none;
            overflow: visible;
            padding: 0;
            background: transparent;
            cursor: pointer;

            span {
              background: $secondary-color;
              border: none;
              padding: 10px 20px;
              transition: all 0.3s;
              font-size: 18px;
              border-radius: 8px;
              color: $light-color !important;
              display: block;
              text-align: center;
              white-space: nowrap;
              text-transform: uppercase;
            }
          }

          .retailNote {
            text-align: left;
            padding-bottom: 10px;

            a {
              font-size: 12px;
              color: $secondary-color !important;
              text-decoration: none;
              transition: all 300ms ease-in 0s;
              background: transparent;
            }
          }
        }
      }
    }
  }

  @include Responsive(L) {
    .totalCartRight {
      padding-top: 10px;
    }
  }