@import '../../../style/responsive';
@import '../../../style/variable';

// .pageBanner {
//     padding-top: 15px;

//     a {
//         color: #646464;

//         img {
//             max-width: 100%;
//             height: auto;
//             border: 0;
//             vertical-align: top;
//         }
//     }
// }

.flashSalePage {
    margin-top: 10px;

    // .flashSalePeriods {
    //     background-color: #ffffff;
    //     padding-top: 10px;
    //     padding-bottom: 10px;
    //     min-height: 70px;

    //     .flashSalePeriodActive {
    //         .time {
    //             color: #D22121 !important;
    //         }

    //         .status {
    //             color: #D22121 !important;
    //         }
    //     }

    //     .flashSalePeriodItem {
    //         text-align: center;

    //         .flashSalePeriodsLabel {
    //             display: inline-block;
    //             cursor: pointer;
    //             color: #646464;
    //             text-decoration: none;
    //             background: transparent;

    //             .time {
    //                 font-size: 20px;
    //                 font-weight: 700;
    //                 color: #000;
    //             }

    //             .status {
    //                 font-size: 15px;
    //                 color: #000;
    //             }
    //         }
    //     }
    // }

    .flashSalePageContent {
        margin-top: 10px;
        margin-bottom: 10px;

        .flashSalePagePeriodContent {}
    }
}