@import '../../../style/variable';

.registerFormContainer {
    .inputBox {
        padding: 8px 0;

        label {
            font-size: 14px;
            padding: 4px;
            font-weight: normal;
            color: #555555;
            display: inline-block;
            margin-bottom: 5px;
            cursor: default;
        }

        .inputGroup {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;

            .textBox {
                width: 100%;
                padding: 4px 15px;
                font-size: 16px;
                line-height: 1.5;
                border: 1px solid #ced4da;

                &:focus {
                    border-color: #80bdff;
                    outline: 0;
                    box-shadow: 0 0 0 2px rgba(0, 123, 255, .25);
                }
            }

            .textBoxShowText {
                display: block;
                position: absolute;
                right: 12px;
                color: #2489F4;
                cursor: pointer;
                user-select: none;
            }
        }

        .btnBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .btnRegister {
                background-color: $secondary-color;
                color: white;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 245px;
                max-width: 100%;
                font-size: 14px;
                font-weight: 700;
                transition: all 0.3s;
                border-radius: 8px;
                padding: 8px 0;
                margin: 8px 0;
                &:disabled {
                    background-color: #63636378;
                }
            }
        }
        .msgFieldError {
            color: red;
            margin: 0;
            margin-top: 3px;
        }
    }
}