.listItem {
    display: flex;
    padding: 1.6em 0;
    border-top: 1px solid #ced4da;

    .itemId {
        display: flex;
        flex-basis: 17%;
        justify-content: center;
        align-items: center;
    }

    .itemImgContainer {
        padding: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-basis: 16%;

        .productImage {
            width: auto;
            max-height: 119px;
            object-fit: contain;
            max-width: 100%;
            border: 0;
            vertical-align: top;
        }
    }

    .groupProductInfo {
        flex-basis: 44%;
        display: flex;

        .infoProduct {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                width: 100%;
                margin: 0;
                font-weight: normal;
                line-height: 18px;
                display: inline-block;
                font-size: 15px;
            }

            .priceOriginal {
                padding: 0px;

                .cartPrice {
                    display: flex;
                    align-items: flex-end;

                    .price {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 1;
                    }
                }
            }

            .productQty {
                font-weight: 600;

                .qty {
                    font-size: 13px;
                    line-height: 1;
                    color: #7A7E7F !important;
                    font-weight: normal !important;
                }
            }
        }
    }

    .datePurchased {
        flex-basis: 23%;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        display: flex;
    }
}
