.recoveryPasswordForm {
    .recoveryPasswordFormContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px;

        .recoveryPasswordWindow {
            position: relative;
            width: 450px;
            max-width: calc(100vw - 20px);

            .formTitle {
                text-align: center;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 550;
                padding: 24px 8px 8px 8px;
            }

            .recoveryPasswordContent {
                padding: 0 32px 16px 32px;
            }
        }
    }
}