.pageHeader {
	padding-top: 12rem;
	padding-bottom: 6rem;
	background: url(../../../public/img/carousel-1.jpg) top right no-repeat;
	background-size: cover;
}
.breadcrumbItem+.breadcrumbItem {
	&::before {
		color: #999999!important;
	}
}
